    /******************************************
    /               Guidelines
    /  Colors
    /   Showtag orange: #c2672e
    /   Showtag orange secondary: #d5824e
    /   Showtag blue: #24495e
    /   Showtag gray: #272727
    /  Fonts
    /   Open Sans
    /   Raleway
    /  Width: 70%
    /*****************************************/
    
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    /* Skipping the header*/
    
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    p#history {
        text-align: left;
    }
    
    .team {
        background-color: #344853;
        color: white;
    }
    
    .team-content {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    
    .team h2 {
        color: white;
    }
    
    .team h3,
    .team h4 {
        color: white;
        margin: 0;
    }
    
    .person {
        margin: 2em 0;
    }
    
    .person img {
        border-radius: 50%;
        width: 60%;
        margin: 0 0 10px 0;
    }
    
    .grayscale {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    
    .position {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    
    #position-description {
        padding: 0;
        margin: 0;
    }
    
    .position h2 {
        text-transform: uppercase;
        color: #344853;
        font-weight: 100;
        padding: 0;
        margin: 0;
    }
    
    .position h3 {
        text-align: left;
    }
    
    #position-description p {
        margin: 0 auto;
        text-align: left;
        width: 100%;
    }
    
    #position-description ul {
        text-align: left;
    }
    
    p span {
        display: block;
    }
    
    #hire-button {
        margin-top: 2.5em;
        color: white;
        margin-bottom: 2em;
    }