.careers-banner {
    background-color: tan;
    width:100%;
    margin:0 auto;
}

/* Skipping the header*/
.content-wrapper {
    position: relative;
    margin-top:5%;
    font-family: 'Open Sans', sans-serif;
}

.position {
    margin: 0 auto;
    margin-bottom: 3em;
}

#position-description {
    padding: 0;
    margin: 0;
}

.position h2  {
    text-transform: uppercase;
    color: #344853;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.position h3 {
    text-align: left;
}

#position-description p {
    margin: 0 auto;
    text-align: left;
    width:100%;
}

#position-description ul {
    text-align: left;
}

p span {
    display: block;
}

#hire-button {
    margin-top: 1em;
    color: #fff;
}

ul li {
    list-style-type: circle;
}

#apply-now-button {
    margin-top: 1em;
}

.jobs {
    margin: 0 auto;
}

.job-main{
    background-color: #344853;
    color:#fff;
    padding:1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0;
}

.job-main h3 {
    color: #fff;
}


.job-description {
    display: none;
}

.job-position {
    text-align: left;
}

.job-arrow {
    text-align: right;
}

#cv-button {
    color: black;
}

#cv-button:hover {
    color: white;
}

@media only screen and (max-width: 766px) {
    .adjust-width {
        width:95%;
    }
}