    /******************************************
    /               Guidelines
    /  Colors
    /   Showtag orange: #c2672e
    /   Showtag orange secondary: #d5824e
    /   Showtag blue: #24495e
    /   Showtag gray: #272727
    /  Fonts
    /   Open Sans
    /   Raleway
    /  Width: 70%
    /*****************************************/
    
    .video {
        height: 300px;
        margin: 10px;
        background-color: firebrick;
        padding: 10px;
    }
    
    .content-wrapper#demos-wrapper {
        top: 0;
    }
    
    .demos-banner {
        background-image: url('../img/banners/landing-banner-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    
    .content#demos-content {
        padding: 0;
    }