    /******************************************
    /               Guidelines
    /  Colors
    /   Showtag orange: #c2672e
    /   Showtag orange secondary: #d5824e
    /   Showtag blue: #24495e
    /   Showtag gray: #272727
    /  Fonts
    /   Open Sans
    /   Raleway
    /  Width: 70%
    /*****************************************/
    
    .product-features {
        color: black
    }
    
    .product-features:nth-child(odd) {
        background-color: white;
        color: black;
    }
    
    .product-features:nth-child(even) {
        background-color: white;
    }
    
    .empty-box {
        background-color: firebrick;
        width: 450px;
        height: 300px;
    }
    
    .product-feature-text h2 {
        padding-left: 15px;
    }
    
    .product-feature-img {
        max-width: 400px;
    }
    
    .product-feature-img img {
        max-width: 100%;
    }