.product-features {
    color: #000
}

.product-features:nth-child(odd) {
    background-color: #fff;
    color: #000;
}

.product-features:nth-child(even) {
    background-color: #fff;
}

.empty-box {
    background-color: firebrick;
    width: 450px;
    height: 300px;
}

.product-feature-text h2 {
    padding-left: 15px;
}


/*
.product-features:nth-child(odd) h2 {
    color: #374753;
}*/