    /******************************************
    /               Guidelines
    /  Colors
    /   Showtag orange: #c2672e
    /   Showtag orange secondary: #d5824e
    /   Showtag blue: #24495e
    /   Showtag gray: #272727
    /  Fonts
    /   Open Sans
    /   Raleway
    /  Width: 70%
    /*****************************************/
    
    .how-works {
        color: white;
    }
    
    .how-works:nth-child(odd) {
        background-color: white;
        color: black;
    }
    
    .empty-box {
        background-color: firebrick;
        width: 100%;
        height: 250px;
    }
    
    .feature-text h2 {
        padding-left: 15px;
        color: white;
    }
    
    .feature-text h2#black {
        color: #374753;
    }
    
    .feature-img {
        max-width: 400px;
    }
    
    .feature-img img {
        max-width: 100%;
    }