    /******************************************
    /               Guidelines
    /  Colors
    /   Showtag orange: #c2672e
    /   Showtag orange secondary: #d5824e
    /   Showtag blue: #24495e
    /   Showtag gray: #272727
    /  Fonts
    /   Open Sans
    /   Raleway
    /  Width: 70%
    /*****************************************/
    
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        line-height: 1.7em;
        color: black;
        font-size: 12px;
    }
    
    html,
    button,
    input,
    select,
    textarea,
    .pure-g [class *="pure-u"] {
        /* Set your content font stack here: */
        font-family: 'Open Sans', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        color: #34495e;
    }
    
    .banner {
        width: 100%;
        height: 100px;
        background-color: firebrick;
    }
    
    p {
        padding: 15px;
    }
    
    .adjust-width {
        width: 70%;
        margin: 0 auto;
    }
    
    #adjust-width {
        width: 70%;
    }
    
    .pure-img-responsive {
        max-width: 100%;
        height: auto;
    }
    
    .showtag-logo {
        width: 100%;
    }
    
    .l-box {
        padding: 1em;
    }
    
    .l-box-lrg {
        padding: 2em;
        padding-bottom: 3em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .l-box-lrg#contact {
        padding: 3em;
        padding-left: 0;
    }
    
    .is-center {
        text-align: center;
    }
    
    .pure-form label {
        margin: 1em 0 0;
        font-weight: bold;
        font-size: 100%;
    }
    
    .pure-form input[type] {
        border: 2px solid #ddd;
        box-shadow: none;
        font-size: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
    
    .pure-button {
        background-color: #c2672e;
        color: white;
        padding: 0.5em 2em;
        border-radius: 5px;
    }
    
    .pure-menu-item {
        padding-right: 20px;
    }
    
    .home-menu {
        padding: 0.5em;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    }
    
    .home-menu {
        background: transparent;
    }
    
    .pure-menu.pure-menu-fixed {
        border-bottom: none;
        z-index: 4;
    }
    
    .home-menu .pure-menu-heading {
        color: white;
        font-size: 120%;
    }
    
    .home-menu .pure-menu-selected a {
        color: white;
    }
    
    .home-menu a {
        color: white;
    }
    
    .home-menu li a:hover,
    .home-menu li a:focus {
        background: #e86c10;
        border: none;
        color: white;
    }
    
    .splash-container {
        color: black;
        background: #272727;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        height: 88%;
        top: 0;
        left: 0;
        position: fixed !important;
    }
    
    .splash {
        width: 100%;
        height: 50%;
        margin: auto;
        position: absolute;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
    }
    
    .splash-head {
        font-size: 20px;
        font-weight: bold;
        color: white;
        line-height: 1em;
        font-family: 'Raleway', sans-serif;
    }
    
    .splash-subhead {
        color: white;
        letter-spacing: 0.05em;
        opacity: 0.8;
    }
    
    .content-wrapper {
        width: 100%;
        position: absolute;
        top: 15%;
        min-height: 12%;
        z-index: 2;
        background: white;
    }
    
    .content-wrapper#main {
        top: 87%;
    }
    
    .content-wrapper {
        top: 15%;
    }
    
    .content {
        padding: 1em 1em 3em 0em;
    }
    
    .content-head {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 2em 0 1em;
        font-size: 1.5em;
    }
    
    .content-head-ribbon {
        color: white;
    }
    
    .content-subhead {
        color: #1f8dd6;
    }
    
    .content-subhead i {
        margin-right: 7px;
    }
    
    .ribbon {
        background: #344853;
        color: #aaa;
    }
    
    .footer {
        background: #344853;
        color: #fff;
    }
    
    .footer h3,
    .footer h4 {
        color: #fff;
    }
    /*
    Primary button
    */
    
    .primary-button {
        background: #c2672e;
        border: 2px solid #c2672e;
        color: white;
        transition-duration: 0.2s;
    }
    /*
    Secondary button
    */
    
    .secondary-button {
        background: transparent;
        border: 2px solid #c2672e;
        color: black;
        transition-duration: 0.4s;
    }
    
    .secondary-button:hover {
        background: #c2672e;
        color: white;
    }
    /*************
    Other classes
    **************/
    
    #how-it-works {
        color: black;
        margin: 0 auto;
        text-align: center;
        width: 70%;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2%;
    }
    
    #designed-users-in-mind {
        color: black;
        margin: 0 auto;
        text-align: center;
        width: 70%;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2%;
    }
    
    .button-how-it-works {
        min-width: 180px;
        width: 5%;
        font-size: 120%;
        text-align: center;
        padding: 5px;
        margin: 10px;
    }
    
    .button-users-in-mind {
        margin-top: 30px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .what-you-get {
        background-color: #344853;
        color: white;
        text-align: center;
        font-size: 110%;
    }
    
    .what-you-get h2 {
        color: white;
    }
    
    .what-you-get img {
        width: 90%;
    }
    
    .what-you-get ul {
        margin-top: 3%;
    }
    /*
    * Navigation menu styles
    */
    
    .main-header {
        position: fixed;
        top: 0px;
        max-height: 100px;
        z-index: 999;
        width: 100%;
        padding-top: 17px;
        background: none;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
        top: -100px;
        padding-bottom: 0px;
        font-family: "Montserrat", sans-serif;
    }
    
    .row {
        width: 70%;
        margin: 0 auto;
        position: relative;
        padding: 0 0 0 10px;
    }
    
    .mobile-toggle {
        display: none;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 22px;
        top: 0;
        width: 30px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }
    
    .open-nav {
        max-height: 800px !important;
    }
    
    .open-nav .mobile-toggle {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }
    
    .sticky {
        opacity: 1;
        top: 0px;
        background-color: rgba(5, 7, 6, 0.9);
        color: white;
    }
    
    .logo {
        width: 50px;
        font-size: 25px;
        color: #8f8f8f;
        text-transform: uppercase;
        float: left;
        display: block;
        margin-top: 0;
        line-height: 1;
        margin-bottom: 10px;
    }
    
    nav {
        float: right;
        width: 90%;
    }
    
    nav ul {
        list-style: none;
        overflow: hidden;
        text-align: right;
        float: right;
    }
    
    nav ul li {
        display: inline-block;
        margin-left: 35px;
        line-height: 1.5;
    }
    
    nav ul a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }
    
    .mobile-toggle span {
        width: 30px;
        height: 4px;
        margin-bottom: 6px;
        border-radius: 1000px;
        background: #444343;
        display: block;
    }
    /* 
    Subscribe form
    */
    
    .pure-form input[type] {
        margin-bottom: 0;
        padding: 10px;
    }
    
    .subscribe-form {
        background-color: #374753;
        color: white;
        padding: 3em;
    }
    
    .subscribe-form h2,
    .contact-us-form h2 {
        color: white;
        margin: 0;
        margin-bottom: 0.85em;
    }
    
    .contact-us-form h3 {
        margin: 0;
    }
    
    .contact-us-form p {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    
    #subscribe {
        display: flex;
    }
    
    .submit-form {
        height: 40px;
    }
    
    #email {
        flex: 1;
        position: relative;
        height: 100%;
        padding: 10px;
    }
    
    #subscribe-button {
        padding: 0 10px 0 10px;
        position: relative;
    }
    
    img#mailbox {
        min-width: 50px;
        display: block;
        width: 60%;
        margin-top: 2em;
    }
    
    p#newsletter {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
    }
    /*
    Contact us form
    */
    
    .contact-us-form {
        position: relative;
    }
    
    .social-networks {
        text-align: right;
    }
    
    .fab {
        color: black;
    }
    
    .social a:active,
    .social a:visited {
        color: black;
        text-decoration: none;
    }
    
    a.social {
        text-decoration: none;
    }
    
    .social {
        margin-left: 5px;
    }
    /*Footer-line*/
    
    .footer-line {
        margin: 0 20px 2em 20px;
    }
    
    .invert {
        filter: invert(1);
    }
    
    #footer-logo {
        position: absolute;
        left: 10px;
        min-width: 30px;
        width: 40px;
    }
    /*Cookie Consent*/
    
    #cookieConsent {
        background-color: rgba(20, 20, 20, 0.8);
        min-height: 26px;
        font-size: 14px;
        color: #ccc;
        line-height: 26px;
        padding: 8px 0 8px 30px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        z-index: 9999;
    }
    
    #cookieConsent a {
        color: #c2672e;
        text-decoration: none;
    }
    
    #closeCookieConsent {
        float: right;
        display: inline-block;
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: -10px 0 5px 0;
        font-weight: bold;
    }
    
    #closeCookieConsent:hover {
        color: #fff;
    }
    
    #cookieConsent a.cookieConsentOK {
        background-color: #c2672e;
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        padding: 0 20px;
        cursor: pointer;
        float: right;
        margin: 0 60px 0 10px;
    }
    
    #cookieConsent a.cookieConsentOK:hover {
        background-color: #c2672e;
    }
    /*Cookie Consent Done*/
    
    @media only screen and (max-width: 766px) {
        .main-header {
            padding-top: 25px;
        }
        .pure-menu-item {
            font-size: 150%;
            margin: 10px;
        }
        .logo {
            float: none;
        }
        nav {
            width: 100%;
        }
        nav ul {
            padding-top: 15px;
            margin-bottom: 22px;
            float: left;
            text-align: center;
            width: 100%;
        }
        nav ul li {
            width: 100%;
            padding: 7px 0;
            margin: 0;
        }
        .mobile-toggle {
            display: block;
        }
        .showtag-logo {
            width: 95%;
        }
        .contact-us-form {
            margin: 0 0 0 10px;
        }
        .adjust-width {
            width: 100%;
        }
    }
    /*
 * Tablet and media queries
 */
    
    @media (min-width: 48em) {
        /* Increase the body font size */
        body {
            font-size: 14px;
        }
        /* Align the menu header to the left, but float the
    menu items to the right. */
        .home-menu {
            text-align: left;
        }
        .home-menu ul {
            float: right;
        }
        .splash {
            width: 50%;
            height: 50%;
        }
        .splash-head {
            font-size: 250%;
        }
        /* We remove the border-separator assigned to .l-box-lrg */
        .l-box-lrg {
            border: none;
        }
    }
    /*
 *  DESKTOP (AND UP) MEDIA QUERIES 
 */
    
    @media (min-width: 78em) {
        .splash-head {
            font-size: 200%;
        }
        content-head {
            font-size: 100%;
        }
        .pure-button {
            padding: 10px;
            min-width: fit-content;
            width: 150px;
            max-width: 300px;
        }
    }